<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>8uNny29 - JSACCSYS</title>
</head>
<body>
    <div class="topnav">
        <div class="leftnav">
            <a class="active" href="/">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <div class="rightnav">
            <div class="dropdown">
                <% if (session.username) { %>
                    <div class="dropdown">
                        <a class="active dropbtn"><%= session.username %>
                            <i class="fa fa-caret-down"></i>
                        </a><br><br>
                        <div class="dropdown-content">
                            <form method="post" action="/logout">
                                <button>Logout</button>
                            </form>
                            <a href="#">Setelan</a>
                            <a href="#">Support</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div> 
</body>
</html>