<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>8uNny29 - JSACCSYS</title>
</head>
<body>
    <div class="errorcode">
        <h1 style="text-align: center;">ERROR 403</h1>
        <h1 style="text-align: center;">ACCESS DENIED</h1>
        <a class="btnerror" href="/dashboard">BACK TO DASHBOARD</a>
    </div> 
</body>
</html>