<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <title>8uNny29 - JSACCSYS</title>
    </head>
<body>
    <nav>
      <div class="wrapper">
        <div class="logo"><a href="#">8uNny29 Corp.</a></div>
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="#">Beranda</a></li>
            <li><a href="#">Tentang</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </div>
    </nav>
    
    <div class="body-text">
        <div class="title">Selamat datang di beranda dari 8uNny29 Corp.</div>
        <div class="sub-title">Semoga hari-hari anda selalu bahagia.</div>
    </div>
</body>
</html>