<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>8uNny29 - JSACCSYS</title>
</head>
<body>
      <div class="topnav">
            <div class="leftnav">
                  <a class="active" href="/">Home</a>
                  <a href="#news">What's New?</a>
                  <a href="#contact">Contact</a>
                  <a href="#about">Tentang</a>
            </div>
            <div class="rightnav">
                <a href="/login">Login</a>
                <a class="active" href="/register">Register</a>
            </div>
      </div>
      <div class="login-box">
            <h2>Register</h2>
            <h2 style="color: red;">ada yang salah, coba buat ulang dengan username lain</h2>
            <form method="post" action="/register">
            <div class="user-box">
                  <input type="text" name="firstname" required="">
                  <label>Firstname</label>
            </div>
            <div class="user-box">
                  <input type="text" name="lastname" required="">
                  <label>Lastname</label>
            </div>
            <div class="user-box">
                  <input type="email" name="email" required="">
                  <label>Email</label>
            </div>
            <div class="user-box">
                  <input type="text" name="username" required="">
                  <label>Username</label>
            </div>
            <div class="user-box">
                  <input type="password" name="password" required="">
                  <label>Password</label>
            </div>
                  <button type="submit">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  Submit
                  </button>
            </form>
      </div>
</body>
</html>