<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/routes/css/styles.css">
    <title>8uNny29 - JSACCSYS</title>
</head>
<body>
    <div class="topnav">
        <div class="leftnav">
            <a class="active" href="/">Home</a>
            <a href="#news">What's New?</a>
            <a href="#contact">Contact</a>
            <a href="#about">Tentang</a>
        </div>
        <div class="rightnav">
            <div class="dropdown">
                <% if (session.username) { %>
                    <div class="dropdown">
                        <a class="active dropbtn"><%= session.username %>
                            <i class="fa fa-caret-down"></i>
                        </a><br><br>
                        <div class="dropdown-content">
                            <form method="post" action="/logout">
                                <button>Logout</button>
                            </form>
                            <a href="#">Setelan</a>
                            <a href="#">Support</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="table-data">
            <% if (session.username) { %>
                <p>Halo, <%= session.username %>!</p>
            <% } %>
            <p>Hari ini <%= new Date().toLocaleDateString() %></p>
        </div>
    </div> 
</body>
</html>