<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/routes/css/styles.css">
    <title>8uNny29 - JSACCSYS</title>
</head>
<body>
    <div class="topnav">
        <div class="leftnav">
            <a class="active" href="/">Home</a>
            <a href="/user-list">User List</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <div class="rightnav">
            <form method="post" action="/logout">
                <button>LOGOUT</button>
            </form>
            <a class="active">!Admin</a>
        </div>
        <div class="table-data">
            <% if (session.username) { %>
                <p>Halo, <%= session.username %>!</p>
            <% } %>
            <p>Hari ini <%= new Date().toLocaleDateString() %></p>
        </div>
    </div> 
</body>
</html>